/*
* author: Shaine Poirier
* description: CSS zen garden
* date: 2023-06-17
 */

/* Example of ID selector */
#css-zen-garden{
   padding: 0;
    margin: 0;
    background-color: #cccccc;
}

/*Typography */

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0077ff;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p, a, li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

/*Example of a type selector */
p{
    color: #333333;
}
/*******************************************************************/

/* Example of a class selector. Also contains the required background image/gradient */
.intro{
    text-align: center;
    background: radial-gradient(circle at top left, #FFD700, #FF8C00);
}

/*Example of a direct sibling combinator */
h1 + h2{
    margin-top: 3.125rem;
}

/*Example of a general sibling combinator */
h3 ~ p {
    margin-top: 1.5rem;
}

/*******************************************************************/
/*Style links and lists*/

/*style links*/
a{
    text-decoration: none;
    outline: none;
}

a:link{
    color: #ff5500;
}

a:visited{
    color: #336699;
}

a:focus{

    color: #000000;
    background-color: #ffcc00;
}

/*Example of a pseudo-class selector. Also counts as the 'creative element' for assignment */
a:hover{
    color: #ff0000;
    text-decoration: underline;
}

a:active{
    color: #00ff00;
    text-decoration: none;
}

/*style the lists*/

/*Example of an attribute selector */
a[class=design-name]{
    color: #00a78e;
}

/*Example of a child combinator */
.design-selection > h3{
    text-align: center;
}

/*Example of a descendant combinator */
.design-selection  li{
    text-align: center;
    list-style: none;
}
